<div ng-show="!topic.id">
    <blockquote>
        <p>No topic selected.</p>
        <p>Please, select a <a href="#/topics">topic</a></p>
    </blockquote>
</div>

<div ng-show="topic.id">
    <h2>{{ topic.title }}</h2>
    <p class="text-muted">{{ topic.description }}</p>
</div>

<ul class="list-unstyled messages">
    <li ng-repeat="message in messages">
        <div class="header">
            <div class="gravatar">
                <img src="http://www.gravatar.com/avatar/{{ message.email | gravatar }}?size=60" class="img-circle">
            </div>

            <div>
                <button type="button" class="close pull-right" ng-show="createdMessage(message)" ng-click="delete(message)">&times;</button>
                <strong>{{ message.user }}</strong>
                <small class="text-muted" am-time-ago="message.time"></small>
            </div>
            <p>{{ message.message }}</p>

            <p style="clear:both;"></p>
        </div>
    </li>
</ul>

<form class="form-horizontal" role="form" ng-submit="save(message)" ng-show="message && user.name">
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">{{ user.name }}:</label>
        <div class="col-sm-10">
            <textarea name="message" ng-model="message.message" class="form-control" placeholder="Post message..."></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-disabled="!message.message" class="btn btn-sm btn-success">Post</button>
        </div>
    </div>
</form>

<div ng-show="!user.name">
    <blockquote>
        <p>Username required to post messages.</p>
        <p>Set username on <a href="#/">Home page</a></p>
    </blockquote>
</div>
